{% extends 'sightings/base.html' %}

{% load static %}

{% block title %} - Let's add a new sighting!{% endblock %}

{% block main %}
<section class="jumbotron text-center">
    <div class="container">
      <h1>Add new sighting</h1>
   <p class="lead text-muted">You can add a new squirrel sighting here. All fields are optional, with the exception of Unique Squirrel ID.</p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
	    <form id="SquirrelForm2" method="post" action="{% url 'sightings:create' %}" class="input-group mb-3">
            {% csrf_token %}
	    <p> <label for="unique_id">Enter Squirrel Unique ID:</label>
	    <input type="text"
                   name="unique_id"
                   class="form-control"
                   placeholder="Squirrel Unique ID."
		   aria-label="Squirrel Unique ID."/> 
	    </p>
	    <p><label for="longitude">Enter latitude:</label>
	    <input type="text"
                   name="latitude"
                   class="form-control"
                   placeholder="Sighting Latitude."
		   aria-label="Squirrel Latitude."/> 
	    </p>
	    <p> <label for="longitude">Enter longitude:</label>
	    <input type="text"
                   name="longitude"
                   class="form-control"
                   placeholder="Sighting Longitude."
                   aria-label="Squirrel Longitude."/>
	    </p>
	    <p>
	     <label for="shift">Select shift:</label>
                <select id="shift" name="shift">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
                </select>
	    </p>
	    <p>
	    <label for="age">Select age:</label>
                <select id="age" name="age">
                <option value="juvenile">Juvenile</option>
                <option value="adult">Adult</option>
                </select>
	    </p>
	    <p><label for="sighting_date">Enter date:</label>
	    <input type="DateField"
                   name="sighting_date"
                   class="form-control"
                   placeholder="YYYY-MM-DD."
                   aria-label="YYYY-MM-DD."/>
	    </p>
	    <p>
	    <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Add new sighting.</button>
            </div>
            <div id="errors" class="mb-3"></div>
	    </p>
	    </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
