{% extends 'sightings/base.html' %}

{% load static %}

{% block title %} - {{ Squirrel.unique_id }}{% endblock %}

{% block main %}
<section class="jumbotron text-center">
    <div class="container">
	    <h1>{{ Squirrel.unique_id }}</h1>
      <p class="lead text-muted">This is the information we have on this squirrel. You may edit all fields, one at a time, with the exception of the Unique Squirrel ID.</p>
     
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <form id="SquirrelForm" method="post" action="{% url 'sightings:edit' Squirrel.id %}" class=input-group mb-3">
            {% csrf_token %}
            <p><label for="latitude">Update latitude:</label>
	    <input type="text"
                   name="latitude"
                   class="form-control"
                   placeholder="Update Latitude"
                   aria-label="Updated Latitude"/>
            </p>
	    <input type="hidden" name="shift" value="{{ Squirrel.shift }}">
	    <input type="hidden" name="sighting_date" value="{{ my_date }}">
	    <input type="hidden" name="helper_date" value="{{ Squirrel.helper_date }}">
	    <input type="hidden" name="longitude" value="{{ Squirrel.longitude }}">
            <input type="hidden" name="age" value="{{ Squirrel.age }}">
	    <input type="hidden" name="unique_id" value="{{ Squirrel.unique_id }}">
	    <p class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Confirm</button>
            </p>
            <div id="errors" class="mb-3"></div>
          </form>
	  <form id="SquirrelForm" method="post" action="{% url 'sightings:edit' Squirrel.id %}" class="input-group mb-3">
            {% csrf_token %}
            <p><label for="longitude">Update longitude:</label>
	    <input type="text"
                   name="longitude"
                   class="form-control"
                   placeholder="Update Longitude"
                   aria-label="Updated Longitude"/>
            </p>
            <input type="hidden" name="shift" value="{{ Squirrel.shift }}">
            <input type="hidden" name="sighting_date" value="{{ my_date }}">
            <input type="hidden" name="helper_date" value="{{ Squirrel.helper_date }}">
	    <input type="hidden" name="latitude" value="{{ Squirrel.latitude }}">
            <input type="hidden" name="age" value="{{ Squirrel.age }}">
            <input type="hidden" name="unique_id" value="{{ Squirrel.unique_id }}">
            <p class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Confirm</button>
            </p>
            <div id="errors" class="mb-3"></div>
          </form>
	  <form id="SquirrelForm" method="post" action="{% url 'sightings:edit' Squirrel.id %}" class="input-group mb-3">
            {% csrf_token %}
            <p>
	     <label for="shift">Update shift:</label>
                <select id="shift" name="shift">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
                </select>
            </p>
            <input type="hidden" name="longitude" value="{{ Squirrel.longitude }}">
            <input type="hidden" name="sighting_date" value="{{ my_date }}">
            <input type="hidden" name="helper_date" value="{{ Squirrel.helper_date }}">
            <input type="hidden" name="latitude" value="{{ Squirrel.latitude }}">
            <input type="hidden" name="age" value="{{ Squirrel.age }}">
            <input type="hidden" name="unique_id" value="{{ Squirrel.unique_id }}">
            <p class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Confirm</button>
            </p>
            <div id="errors" class="mb-3"></div>
          </form>
	  <form id="SquirrelForm" method="post" action="{% url 'sightings:edit' Squirrel.id %}" class="input-group mb-3">
            {% csrf_token %}
            <p>
	    	<label for="helper_date">Update date:</label>
	    	<input type="DateInput"
                   name="sighting_date"
		   class="form-control"
                   placeholder="YYYY-MM-DD"
                   aria-label="Updated Date"/>
            </p>
            <input type="hidden" name="helper_date" value="{{ Squirrel.helper_date }}"> 
 	    <input type="hidden" name="unique_id" value="{{ Squirrel.unique_id }}">         
            <input type="hidden" name="shift" value="{{ Squirrel.shift }}">
            <input type="hidden" name="latitude" value="{{ Squirrel.latitude }}">
            <input type="hidden" name="longitude" value="{{ Squirrel.longitude }}">
	    <input type="hidden" name="age" value="{{ Squirrel.age }}">
	    <p class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Confirm</button>
            </p>
            <div id="errors" class="mb-3"></div>
          </form>
	  <form id="SquirrelForm" method="post" action="{% url 'sightings:edit' Squirrel.id %}" class="input-group mb-3">
            {% csrf_token %}
            <p><label for="age">Update age:</label>
  		<select id="age" name="age">
    		<option value="juvenile">Juvenile</option>
    		<option value="adult">Adult</option>
  		</select>
	    </p>
            <input type="hidden" name="shift" value="{{ Squirrel.shift }}">
            <input type="hidden" name="sighting_date" value="{{ my_date }}">
            <input type="hidden" name="helper_date" value="{{ Squirrel.helper_date }}">
            <input type="hidden" name="latitude" value="{{ Squirrel.latitude }}">
            <input type="hidden" name="longitude" value="{{ Squirrel.longitude }}">
            <input type="hidden" name="unique_id" value="{{ Squirrel.unique_id }}">
            <p class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Confirm</button>
            </p>
            <div id="errors" class="mb-3"></div>
          </form>
        </div>
        <div class="col-md-8">
          <div class="card mb-8 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <div class="Squirrel-id">
                  <strong>{{ Squirrel.unique_id }}</strong>
                </div>
                <div>
                  <span class="text-muted font-italic">Latitude:</span>
                  <span>
                    {{ Squirrel.latitude }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Longitude:</span>
                  <span>
                    {{ Squirrel.longitude }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Shift:</span>
                  <span>
                    {{ Squirrel.shift }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Sighting date:</span>
                  <span>
			  {{ Squirrel.sighting_date }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Age:</span>
                  <span>
                    {{ Squirrel.age }}
                  </span>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

