{% extends 'sightings/base.html' %}
  
{% load static %}
{% block title %} - Success!{% endblock %}
{% block main %}
<section class="jumbotron text-center">
    <div class="container">
      <h1>Success!</h1>
      <p class="lead text-muted">Operation successful! Your sightingg was updated in the database.</p>
      <p>
        <a href="{% url 'sightings:detail' squirrel.id %}" class="btn btn-primary my-2">View updated sighting.</a>
       
      </p>
    </div>
  </section>

{% endblock %}
~              
