{% extends 'sightings/base.html' %}
  
{% load static %}
{% block title %} - Success!{% endblock %}
{% block main %}
  <div class="album py-5 bg-light">
    <div class="container">
         <p> <span class="text-muted font-italic">Operation successful! Your sighting was updated in the database.</span>
         </p><br>
         <div class="col-md-4">
                <a href="{% url 'sightings:detail' squirrel.id %}">View updated sighting.</a>
         </div>
    </div>
  </div>
{% endblock %}
~              
