{% extends 'sightings/base.html' %}

{% load static %}

{% block title %} - All Squirrel Sightings{% endblock %}

{% block main %}
<section class="jumbotron text-center">
    <div class="container">
      <h1>List of Squirrel Sightings</h1>
      <p class="lead text-muted"> You can find the most up to date compilation of Central Park squirrel sightings below. Click on any sighting to edit its information or add a sighting below!</p>
      <p>
        <a href="{% url 'sightings:add' %}" class="btn btn-primary my-2">Add new sighting.</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
	<div class="row">
        {% for squir in Squirrels%}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body"
              <p class="card-text">
                <div class="squirrel-id">
                  <strong>{{ squir.unique_id }}</strong>
                </div>
                <div>
                  <span class="text-muted font-italic">Sighting date</span>
                  <span>
                    {{ squir.sighting_date }}
                  </span>
                </div>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'sightings:detail' squir.id %}">Edit</a>

		</div>
	      </div>
	    </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

